@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.header-icon__image {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
}

.header {
    position: fixed;
    top: 0%;
    background: #2e2e2e;
    display: inline-block;
    width: 100%;
}
.header-title {
    width: 90%;
    font-size: 2rem;
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    margin: 0.3rem 0 0.3rem 0.5rem;
}
.header-link {
    width: 100%;
    height: 100%;
}
.main-container__item {
    height: 20%;
    margin-bottom: 2rem;
}
.main-container__title { 
    height: 100%;
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}